In [ ]:
'''LISTS'''

In [3]:
#pop
#here x is popped out of list
l=[5,10,15,20,25]
x=l.pop(1)
print(x)

10

In [10]:
#remove,delete,pop,append
l=[5,10,15,20,25]
l.pop(1)

del l[1]

l.remove(25)
print(l)

#adds number
l.append(100)
print(l)

[5, 20]
[5, 20, 100]

In [12]:
l=[123,'spam',1.23]
#print length of the list
print(len(l))

#print the element of the particular index
print(l[0])

#slicing
print(l[:-1])

#adding elements to the list
print(l+[4,5,6])

#print the list eleements twixe in the same list
print(l*2)

3
123
[123, 'spam']
[123, 'spam', 1.23, 4, 5, 6]
[123, 'spam', 1.23, 123, 'spam', 1.23]

In [21]:
#sort
l=[5104,10,18885,82.220,2.5]
l.sort()
#sort arranges the elements in ascending order
print(l)

[2.5, 10, 82.22, 5104, 18885]

In [20]:
#reverse the list
l=[5104,10,18885,820,2.51,]
l.reverse()
print(l)

[2.5, 820, 18885, 10, 5104]

In [23]:
l=[5104,10,18885,82.220,2.5]
l.sort()

#sort arranges the elements in ascending order
print(l)

[2.5, 10, 82.22, 5104, 18885]

In [13]:
#list as matrix
l=[[1,2,3],
  [3,4,5],
  [7,8,9]]
print(l)
print(l[1])  
#get row2
print(l[1][2])
#get row 2 the get item 3 within the row

[[1, 2, 3], [3, 4, 5], [7, 8, 9]]
[3, 4, 5]
5

In [36]:
#using for loop
col2=[]
for row in l:
    col2.append(row[1])
print(col2)
print(l)

[2, 4, 8]
[[1, 2, 3], [3, 4, 5], [7, 8, 9]]

In [ ]:
'''LIST COMPREHENSION'''

In [37]:
#list comprehension
col2=[row[1] for row in l]
col2

[2, 4, 8]

In [38]:
#printing last elements of the each row in one list using for loop  
col2=[]
for row in l:
    col2.append(row[1]+1)
print(col2)

[3, 5, 9]

In [40]:
#printing last elements of the each row in one list
col2=[row[1]+1 for row in l]
col2

[3, 5, 9]

In [41]:
#collect digonal 
diag=[l[i][i] for i in [0,1,2]]
diag

[1, 4, 9]

In [42]:
#repeat characters in a string
doubles=[a*2 for a in 'shubham']
doubles

['ss', 'hh', 'uu', 'bb', 'hh', 'aa', 'mm']

In [44]:
#square of list components
a=[x**2 for x in [2,3,4]]
a

[4, 9, 16]

In [56]:
#take list from user and print and store square and cube of the elements
l=[]
for i in range (5):
    a=int(input("Enter number : "))
    l.append(a)

b=[s**2 for s in l]
print(b)
c=[t**3 for t in l]
print(c)

Enter number : 1
Enter number : 4
Enter number : 5
Enter number : 7
Enter number : 9
[1, 16, 25, 49, 81]
[1, 64, 125, 343, 729]

In [58]:
list(range(4))

[0, 1, 2, 3]

In [59]:
#print elements from -6 ,interval of 2 and total number =7
list (range(-6,7,2))

[-6, -4, -2, 0, 2, 4, 6]

In [60]:
#print even numbers
list(range(2,31,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [61]:
#print odd number
list(range(1,31,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [62]:
#multiple values
#square and cube of elements 0,1,2,3
[[x**2,x**3] for x in range (4)]

[[0, 0], [1, 1], [4, 8], [9, 27]]

In [63]:
#operations
[[x,x/2,x*2] for x in range (-6,7,2) if x>0]

[[2, 1.0, 4], [4, 2.0, 8], [6, 3.0, 12]]

In [14]:
#celsius to fahrenhit(imp)
k=[]
for i in range (4):
    temp=float(input("enter temp : "))
    k.append(temp)
f=[(j*9/5.0)+32 for j in k]
print(f)

enter temp : 0
enter temp : 100
enter temp : 325
enter temp : -735.15
[32.0, 212.0, 617.0, -1291.27]

In [81]:
#frequency of there occurance
n=[1,1,2,2,8,8,9]
for i in n:
    p=n.count(i)
    print ("Frequency of elements:",p)

Frequency of elements: 2
Frequency of elements: 2
Frequency of elements: 2
Frequency of elements: 2
Frequency of elements: 2
Frequency of elements: 2
Frequency of elements: 1

In [91]:
#sort
#sort is used to sort the data permanently where as sorted is used just to print it
l=[2,30,32,11,9]
l.sort()
l

[2, 9, 11, 30, 32]

In [94]:
#sorted
m=[77,2,30,79]
print(sorted(m))
print(m)

[2, 30, 77, 79]
[77, 2, 30, 79]

In [95]:
#sorting the list data without conversion
l=["1","200","10","22","2","4","3"]
l.sort()
l

#here sorting is done on the basis of characters not numbers

['1', '10', '2', '200', '22', '3', '4']

In [96]:
#sorting the list data after converting it into interger
l=["1","200","10","22","2","4","3"]
l=[int(x) for x in l]
l.sort()
l

#so here the result will be shown in integer form

[1, 2, 3, 4, 10, 22, 200]

In [97]:
#sorting list using key
#here data is temporily converted into int for comparison

l=["1","200","10","22","2","4","3"]
l.sort(key=int)
l

#here the result will come in list format only

['1', '2', '3', '4', '10', '22', '200']

In [99]:
#descending order of string by converting the string to integer
l=["1","200","10","22","2","4","3"]
l.sort(key=int,reverse=True)
l

['200', '22', '10', '4', '3', '2', '1']

In [101]:
data_list=[-5,-23,5,0,23,-6,23,67]
data_list.sort(key=int)
l

['200', '22', '10', '4', '3', '2', '1']

In [106]:
#sorting without sort function
m=["1","200","10","22","2","4","3"]
new_list=[]
while m:
    minimum=m[0]  #arbitrary number is list
    for x in m:
        if x<minimum:
            minimum=x
    new_list.append(minimum)
    m.remove(minimum)
print(new_list)

['1', '10', '2', '200', '22', '3', '4']

In [107]:
#print only unique values or elemenate the duplicate values
#set(t) is used to print elemenate the duplicate values and sort the elements as well
t=[1,2,3,4,1,2,3,5,7,8]
print(t)
z=list(set(t))
print(z)

[1, 2, 3, 4, 1, 2, 3, 5, 7, 8]
[1, 2, 3, 4, 5, 7, 8]

In [108]:
#removind duplicate values without using sort

t=[1,2,3,1,2,4,5,6,5,8,9]
s=[]
for i in t:
    if i not in s:
        s.append(i)
print(s)

[1, 2, 3, 4, 5, 6, 8, 9]

In [110]:
#deducing the number of non repeated values

t=[1,2,3,1,2,4,5,6,5,8,9]
s=[]
for i in t:
    if i not in s:
        s.append(i)
print(s)
print("Number of non- repeated values are:",len(s))

[1, 2, 3, 4, 5, 6, 8, 9]
Number of non- repeated values are: 8

In [116]:
#seprate the number of even and odd elements in two seprate lists
t=[1,2,3,4,5,6,7]
e=[]
o=[]
for i in t:
    if (i%2==0):
        e.append(i)
    else:
        o.append(i)
print("Even numbers:",e)
print("Odd numbers:",o)

Even numbers: [2, 4, 6]
Odd numbers: [1, 3, 5, 7]

In [118]:
#seprate the number of even and odd elements in two seprate lists when the elements are repeated
t=[1,2,3,1,2,4,5,6,5,8,9]
z=set(t)
e=[]
o=[]

for i in z:
    if (i%2==0):
        e.append(i)
    else:
        o.append(i)
print("Even numbers:",e)
print("Odd numbers:",o)

Even numbers: [2, 4, 6, 8]
Odd numbers: [1, 3, 5, 9]

In [123]:
#compute the sum of two lists and store it in third list
c=[0,0,0,0,0]
a=[1,2,3,4,5]
b=[1,2,3,4,5]

for i in range (0,len(a)) :
    c[i]=a[i]+b[i]
print(c)

[2, 4, 6, 8, 10]

In [127]:
#home work

c=[]
a=[1,2,3]
b=[1,2,3]

for i in a:
    c.append(i)
    for j in b:
        
print(c)

[[1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3]]

In [129]:
#find max and min number without using min max function
l1=[12,44,53,5,2,7,90]
mx=l1[0]
mn=l1[0]
for i in range (0,len(l1)):
    if(l1[i]>mx):
        mx=l1[i]
    elif(l1[i]<mn):
        mn=l1[i]
    
print("MAX=",mx," and MIN=",mn)

MAX= 90  and MIN= 2

In [139]:
#find minimum and maximum values
l1=[]
n=int(input("Enter the number of elements:"))
for i in range (0,n):
    x=int(input("Enter the elements:"))
    l1.append(x)

print("Maximum number:",max(l1))
print("Minimum number:",min(l1))

Enter the number of elements:3
Enter the elements:7
Enter the elements:8
Enter the elements:55
Maximum number: 55
Minimum number: 7

In [137]:
#check length of element
len('14')

2

In [9]:
#find largest and second largest number
l1=['7','99','5','2','30']
l1.sort(key=int)
print(l1)
b=max(l1)
print("Largest number:",max(l1))
print("Second largest number:",l1[3])

['2', '5', '7', '30', '99']
Largest number: 99
Second largest number: 30

In [140]:
#swap the first and last value of a list
a=[]
n=int(input("Enter the number of elements in list:"))
for x in range (0,n):
    element=int(input("Enter elements:"))
    a.append(element)
temp=a[0]
a[0]=a[n-1]
a[n-1]=temp

print("New list :",a)

Enter the number of elements in list:3
Enter elements:8
Enter elements:7
Enter elements:1
New list : [1, 7, 8]